In [1]:
import pandas as pd # importa a biblioteca

In [10]:
dicionario_01 = {
    'A' :[1,2,3],
    'B' :[-32,-21,-15],
    'C' :[60,10,20],
    'Chave': ['AA', 'BB','CC']

}
dicionario_02 ={
    'A' :[6,7,8],
    'B' :[-39,-28,-17],
    'C' :[1000,10,60],
    'Chave' :['AA', 'BB','CC']

}
dicionario_03 ={
    'A' :[9,10,11],
    'B' :[-39,-22,-17],
    'C' :[30,10,20],
    'Chave' :['AA', 'BB','CC']
}
# criando os labels para os dataframes
label_01 = ['1ªLinha','2ªLinha','3ªLinha']
label_02 = ['4ªLinha','5ªLinha','6ªLinha']
label_03 = ['7ªLinha','8ªLinha','9ªLinha']

In [11]:
# Criando os dataframes
df1 = pd.DataFrame(dicionario_01,index=label_01)
df2 = pd.DataFrame(dicionario_02,index=label_02)
df3 = pd.DataFrame(dicionario_03,index=label_03)

In [12]:
df1.head() # exibe as 4 primeira linhas do dataframe

         A   B   C Chave
1ªLinha  1 -32  60    AA
2ªLinha  2 -21  10    BB
3ªLinha  3 -15  20    CC

In [13]:
df2.head()

         A   B     C Chave
4ªLinha  6 -39  1000    AA
5ªLinha  7 -28    10    BB
6ªLinha  8 -17    60    CC

In [14]:
df3.head()

          A   B   C Chave
7ªLinha   9 -39  30    AA
8ªLinha  10 -22  10    BB
9ªLinha  11 -17  20    CC

In [15]:
# juntando os dataframes utilizando o comando concat
# esse comando irá empilhar os dataframes
df_n = pd.concat([df1,df2,df3]) # comando para juntar

In [16]:
df_n.head()

         A   B     C Chave
1ªLinha  1 -32    60    AA
2ªLinha  2 -21    10    BB
3ªLinha  3 -15    20    CC
4ªLinha  6 -39  1000    AA
5ªLinha  7 -28    10    BB

In [17]:
# Une os comandos dataframes com o comando merge
# inner verifica se a chave está presente me ambos os lados
df_n2 = pd.merge(df1,df2,how='inner', on='Chave')

In [18]:
df_n2.head()

   A_x  B_x  C_x Chave  A_y  B_y   C_y
0    1  -32   60    AA    6  -39  1000
1    2  -21   10    BB    7  -28    10
2    3  -15   20    CC    8  -17    60

In [20]:
df_n3 = pd.merge(df1,df3,how='right', on='Chave')

In [21]:
df_n3.head()

   A_x  B_x  C_x Chave  A_y  B_y  C_y
0    1  -32   60    AA    9  -39   30
1    2  -21   10    BB   10  -22   10
2    3  -15   20    CC   11  -17   20

In [ ]:
Dic_01 = {
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20]
    }
Dic_02 ={
    'D':[6,7,8],
    'E':[-39,-38,-17],
    'F':[1000,10,60]
}
Label_01=['1ªLinha','2ªLinha','3ªLinha'] # cria o label
dataframe01 = pd.DataFrame(Dic_01,index=Label_01)
dataframe02 = pd.DataFrame(Dic_02,index=Label_01)

In [ ]:
dataframe01.head()

In [ ]:
dataframe02.head()

In [ ]:
dataframe01.join(dataframe02) # junta os dois dataframes com
# o comando join