In [1]:
import pandas as pd # importa a biblioteca

In [2]:
dicionario_1= {
    'Nome': ['Alice', 'Julia', 'Bruna', 'Daniel', 'Filipe', 'Silvio'],
    'Idade': [19, 22, 28, 34, 28, 48],
    'Profissão': ['Direito', 'Engenharia', 'Enfermagem', 'Engenheiro Civil', 'Cientista da Computação', 'Engenheiro Eletrônico'],
    'ID': [1, 2, 3, 4, 5, 6]
}

In [6]:
produtos = {
    'Setor': [1, 2, 3, 4],
    'Produtos Fabricados': [50, 30, 40, 100]
}

# Criando o DataFrame
df = pd.DataFrame(produtos)

# Exibindo o DataFrame
print(df)

   Setor  Produtos Fabricados
0      1                   50
1      2                   30
2      3                   40
3      4                  100

In [7]:
funcionarios = {
    'ID': [1, 2, 3, 4],
    'Nome': ['Ana', 'Pedro', 'Maria', 'João'],
    'Setor': ['RH', 'Vendas', 'Administrativo', 'Produção']
}

In [8]:
df_funcionarios = pd.DataFrame(funcionarios)

In [18]:
faz_me_rir = {
    'ID': [1, 2, 3, 4],
    'Salário': [3000, 2800, 3200, 2500]
}

df_faz_me_rir = pd.DataFrame(faz_me_rir)


df_completo = pd.merge(df_funcionarios, df_faz_me_rir, on='ID')

In [11]:
print(df_completo)

   ID   Nome           Setor  Salário
0   1    Ana              RH     3000
1   2  Pedro          Vendas     2800
2   3  Maria  Administrativo     3200
3   4   João        Produção     2500

In [12]:
janeiro = {
    'Data': ['2023-01-01', '2023-01-02', '2023-01-03'],
    'Produto': ['Item A', 'Item B', 'Item A'],
    'Quantidade': [10, 5, 8],
    'Valor': [100.00, 50.00, 80.00]
}

In [13]:
df_janeiro = pd.DataFrame(janeiro)

In [14]:
fevereiro = {
    'Data': ['2023-02-01', '2023-02-02', '2023-02-03'],
    'Produto': ['Item C', 'Item B', 'Item D'],
    'Quantidade': [12, 6, 3],
    'Valor': [120.00, 60.00, 30.00]
}

In [16]:
df_fevereiro = pd.DataFrame(fevereiro)

In [17]:
print(df_janeiro)

print(df_fevereiro)

         Data Produto  Quantidade  Valor
0  2023-01-01  Item A          10  100.0
1  2023-01-02  Item B           5   50.0
2  2023-01-03  Item A           8   80.0
         Data Produto  Quantidade  Valor
0  2023-02-01  Item C          12  120.0
1  2023-02-02  Item B           6   60.0
2  2023-02-03  Item D           3   30.0