In [5]:
#pip install pandas # instala a biblioteca pandas

import pandas as  pd # importa a biblioteca pandas

SyntaxError: invalid syntax (1045782224.py, line 1)

In [7]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-24.2-py3-none-any.whl (1.8 MB)
     ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
      --------------------------------------- 0.0/1.8 MB 991.0 kB/s eta 0:00:02
     -- ------------------------------------- 0.1/1.8 MB 1.3 MB/s eta 0:00:02
     --- ------------------------------------ 0.2/1.8 MB 1.1 MB/s eta 0:00:02
     ---- ----------------------------------- 0.2/1.8 MB 1.3 MB/s eta 0:00:02
     ------ --------------------------------- 0.3/1.8 MB 1.2 MB/s eta 0:00:02
     ------- -------------------------------- 0.3/1.8 MB 1.2 MB/s eta 0:00:02
     -------- ------------------------------- 0.4/1.8 MB 1.2 MB/s eta 0:00:02
     --------- ------------------------------ 0.4/1.8 MB 1.2 MB/s eta 0:00:02
     ----------- ---------------------------- 0.5/1.8 MB 1.2 MB/s eta 0:00:02
     ------------ --------------------------- 0.6/1.8 MB 1.2 MB/s eta 0:00:02
     ------------- -------------------------- 0.6/1.8 MB 1.2 MB/s eta 0:00:01
     --------------- ------------------------ 0.7/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------- ----------------------- 0.7/1.8 MB 1.2 MB/s eta 0:00:01
     ----------------- ---------------------- 0.8/1.8 MB 1.2 MB/s eta 0:00:01
     ------------------ --------------------- 0.8/1.8 MB 1.2 MB/s eta 0:00:01
     -------------------- ------------------- 0.9/1.8 MB 1.2 MB/s eta 0:00:01
     --------------------- ------------------ 1.0/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------- ----------------- 1.0/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------- ----------------- 1.0/1.8 MB 1.2 MB/s eta 0:00:01
     ------------------------ --------------- 1.1/1.8 MB 1.2 MB/s eta 0:00:01
     ------------------------- -------------- 1.2/1.8 MB 1.2 MB/s eta 0:00:01
     --------------------------- ------------ 1.2/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------------- ----------- 1.3/1.8 MB 1.2 MB/s eta 0:00:01
     ----------------------------- ---------- 1.4/1.8 MB 1.2 MB/s eta 0:00:01
     ------------------------------ --------- 1.4/1.8 MB 1.2 MB/s eta 0:00:01
     -------------------------------- ------- 1.5/1.8 MB 1.2 MB/s eta 0:00:01
     --------------------------------- ------ 1.5/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------------------- ----- 1.6/1.8 MB 1.2 MB/s eta 0:00:01
     ----------------------------------- ---- 1.6/1.8 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 1.7/1.8 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 1.8/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  1.8/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  1.8/1.8 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------- 1.8/1.8 MB 1.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-24.2
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as  pd # importa a biblioteca pandas

In [47]:
Dicionario={
    "A":[1,2,3,4,5,6,7],
    "B":[8,9,10,11,12,13,14],
    "C":[15,16,17,18,19,20,21],
}
Labels=["1ª linha","2ª linha","3ª linha","4ª linha","5ª linha","6ª linha","7ª linha"]

In [48]:
df= pd.DataFrame(Dicionario,index=Labels) # cria o dataframe com os  valores abaixo
#dicionario

In [49]:
df.head() # exibe as primeira 4 linhas do dataframe

          A   B   C
1ª linha  1   8  15
2ª linha  2   9  16
3ª linha  3  10  17
4ª linha  4  11  18
5ª linha  5  12  19

In [50]:
df.head(2)

          A  B   C
1ª linha  1  8  15
2ª linha  2  9  16

In [51]:
df.tail() # exibe as quatro primeira linhas do dataframe

          A   B   C
3ª linha  3  10  17
4ª linha  4  11  18
5ª linha  5  12  19
6ª linha  6  13  20
7ª linha  7  14  21

In [52]:
df.head(7)

          A   B   C
1ª linha  1   8  15
2ª linha  2   9  16
3ª linha  3  10  17
4ª linha  4  11  18
5ª linha  5  12  19
6ª linha  6  13  20
7ª linha  7  14  21